html {
  background-color: #EEE;
}
body {
  margin: 0 auto;
  width: 800px;
  background-color: #FFF;
  padding: 40px;
  min-height: 500px;
  line-height: 1.6;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  margin-top: 20px;
  border-bottom: 1px solid #888;
  display: block;
}
pre {
  background-color: #F5F5F5;
  margin: 0;
  padding: 8px 12px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #000;
}

.post-date {
  background-color: #888;
  color: #FFF;
  padding: 0px 16px;
  display: inline-block;
}
.post-title {
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  margin-left: 6px;
}
.post-title:hover {
  color: #F00;
}